
{% block menu %}

<div class="w-100 menu">
    <p>DOGSTATION</p>
    <div class="links">
        <a href="/">PANEL</a>

        <a href="{{url("app_user")}}">PRACOWNICY</a>
    </div>
</div>

{% endblock %}