// assets/styles/global.scss

// customize some Bootstrap variables
@use "sass:map";

$white: #ffffff;
$body-bg: #ededed;
$link-color: #146093;
$link-hover-color: #3397db;

$theme-colors: (
    "light":      #ededed,
    "dark":       #136093,
    "primary":    #146093,
    "secondary":  #ff3d60,
    "secondaryDark":  #f52d4e,
    "info":       #3397db,
    "success":    #00a964,
    "successDark":    #02926e,
    "warning":    #e2cd00,
    "danger":     #f12200,
);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";



#login{
    background-color: #3497db;
}

.menu{
    position: relative;
    padding: 10px 20px;
    background-color: #146093;
    color: #fff;
    z-index: 100;

    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a{
            color: #fff;
            text-decoration: none;
            
        }
    }
}

.bg-pinkGradient{
    background: linear-gradient(to top, map.get($theme-colors, "secondary") , map.get($theme-colors, "secondaryDark"));
}
.bg-greenGradient{
    background: linear-gradient(to top, map.get($theme-colors, "success") , map.get($theme-colors, "successDark"));
}

.workTimeUser{
    transition: background-color 1s;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;

        .date{
            line-height: 40px;
            font-size: 20px;
            color: #fff;
        }
    }
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 27px;
}

.changePassword{
    border-radius: 0.375rem;

    .text{
        padding: 10px;
    }
    .mb-4 {
        margin-bottom: 4px !important;
    }
}
// a.btn-circle.btn-lg {
// }

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.navigation-back{
    display: block;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: -10px;
}

// errors
.invalid-feedback{
    border: solid 1px #dc3545;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 0.375rem;
}