{% block pricesSettings %}
 <div class="card mt-4">
  <div class="card-body d-flex justify-content-between">
   <h5 class="card-title text-uppercase mb-0">
    Ceny</h5>
  </div>
  <div class="table-responsive">
   <table class="table no-wrap user-table mb-0 m-2"></table>
  </div>
 </div>
{% endblock %}
